<% content_for(:title, project.name) %>

<section class="project-description">
  <div class="project-description__logo">
    <div class="medium-up icon icon--project-<%= short_name %> icon--project-<%= short_name %>--colored"></div>
    <div class="small-only icon icon--project-<%= short_name %> icon--project-<%= short_name %>--colored-bg"></div>
  </div>
  <div class="project-description__main">
    <h1><%= project.name %></h1>
    <h2><%= project.tagline %></h2>
    <div class="project-description__text">
      <input type="checkbox" class="see-more__checkbox" id="seeMore">
      <%= project.description %>
      <label for="seeMore" class="see-more__label">Read <span class="see-more__label--closed">More</span><span  class="see-more__label--open">Less</span></label>
    </div>
    <ul class="project-description__gallery">
      <% project.photos.each do |p| %>
      <li>
        <%= image_tag p %>
      </li>
    <% end %>
    </ul>
  </div>

</section>