<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "normalize", "all", "cusd" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="header">
      <a href="index.html"><h2>CUSD</h2></a>
      <a href="projects.html"><h3>Projects</h3></a>
      <a href="team.html"><h3>Team</h3></a>
      <a href="connect.html"><h3>Connect</h3></a>
      <a href="donate.html"><h3>Donate</h3></a>
      <a href="partner.html"><h3>Partner</h3></a>
    </div>

    <%= yield %>

    <div class="footer">
      This is the Footer!
    </div>
  </body>
</html>
